<div class="row">
	<h2 class="title-left"><span class="underbar">犬猫別一覧（<%= @genre.name %>）</span></h2>
	<div class="text-center">
		<h4 class="choice_title">絞り込み</h4>
		<%= link_to "両方", genre_path(params[:id]), class: "hover choice_both" %>
		<%= link_to "オス", genre_path(params[:id], sex: "オス"), class: "choice_male hover" %>
		<%= link_to "メス", genre_path(params[:id], sex: "メス"), class: "choice_female hover" %>
	</div>
	<div class="col-xs-12 text-center index-space">
		<div class="row">
			<% if @animals.exists? %>
				<%= render 'animals/animals', animals: @animals %>
			<% else %>
				<h3>現在、募集がありません</h3>
			<% end %>
		</div>
	</div>
</div>
<div class="row">
  <div class="col-xs-8 col-md-offset-2">
    <div class="text-center">
      <%= paginate @animals %>
    </div>
  </div>
</div>