<div class="row">
  <div class="col-xs-4">
    <h2 class="title-left"><span class="underbar">会員編集</span></h2>
  </div>
</div>
<%= form_for(@demand_user, url: demand_user_path(current_demand_user)) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="row form-space">
    <div class="col-xs-3 col-xs-offset-3">
      <label class="control-label">名前</label><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "里親太郎" %>
    </div>
    <div class="col-xs-3">
      <label class="control-label">フリガナ</label><br />
      <%= f.text_field :name_kana, autocomplete: "name_kana", class: "form-control", placeholder: "サトオヤタロウ" %>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-4 col-xs-offset-3">
      <label class="control-label">ニックネーム</label><br />
      <%= f.text_field :nickname, autocomplete: "nickname", class: "form-control", placeholder: "ヤタロウ" %>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-4 col-xs-offset-3">
      <label class="control-label">メールアドレス</label><br />
      <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "〇〇〇〇＠〇〇.〇〇" %>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-3 col-xs-offset-3">
      <label class="control-label">郵便番号</label><br />
      <%= f.text_field :postal_code, autocomplete: "postal_code", class: "form-control", placeholder: "1234567" %>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-6 col-xs-offset-3">
      <label class="control-label">住所</label><br />
      <%= f.text_field :address, autocomplete: "address", class: "form-control", placeholder: "東京都千代田区霞ヶ関〇-〇-〇" %>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-3 col-xs-offset-3">
      <label class="control-label">電話番号(ハイフンなし)</label><br />
      <%= f.text_field :phone, autocomplete: "phone", class: "form-control", placeholder: "12345678910" %>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-2 col-xs-offset-3">
      <label class="control-label">年齢</label><br />
      <%= f.select :age, DemandUser.ages.keys, autocomplete: "age", class: "form-control", prompt:"---選択して下さい---" %>
    </div>
    <div class="col-xs-2">
      <label class="control-label">職業</label><br />
      <%= f.select :job, DemandUser.jobs.keys, autocomplete: "job", class: "form-control", prompt:"---選択して下さい---" %>
    </div>
  </div>
 <div class="row form-space">
    <div class="col-xs-3 col-xs-offset-3">
      </i><%= f.submit " 編集完了", class: "btn btn-info" %>
    </div>
  </div>
<% end %>