<div class="row">
  <% unless current_supply_user %>
    <h2 class="title-left"><span class="underbar">イベント一覧</span></h2>
  <% else %>
    <h2 class="title-left"><span class="underbar">イベント投稿履歴</span></h2>
  <% end %>
  <!-- ここから検索画面 -->
  <%= form_with(scope: :search, url: events_path, method: :get, local: true) do |f| %>
    <div class="col-xs-11 col-xs-offset-1">
      <div class="row form-space">
        <div class="col-md-4 col-xs-5">
          <label class="control-label">イベント名</label>
          <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "保護犬・猫譲渡会" %>
        </div>
      </div>
      <div class="row form-space">
        <div class="col-md-3 col-xs-5">
          <label class="control-label">開催日</label>
          <%= f.date_field :day %>
        </div>
        <div class="col-md-3 col-xs-5">
          <label class="control-label">開催地域</label>
          <%= f.select :prefecture, Event.prefectures.keys, prompt: "---選択してください---" %>
        </div>
        <div class="col-md-2 col-xs-2">
          <%= f.submit "検索", class: "btn btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
  <!-- ここまで検索画面 -->
</div>
<div class="row">
  <div class="col-xs-12 text-center index-space">
    <div class="row">
      <% if @events.exists? %>
        <% @events.each do |event| %>
          <div class="col-xs-3 posted hover">
            <%= link_to event_path(event) do %>
              <%= attachment_image_tag event, :image, format: 'jpeg', size:"200x200", fallback: "fospa_no_image.png" %>
              <p><span class="index-name"><%= event.name %></span></p>
              <p><%= event.day.strftime("%Y/%m/%d") %></p>
              <p><%= event.prefecture %></p>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <% if current_supply_user %>
          <h3>イベントが投稿されていません</h3>
        <% else %>
          <h3>イベントがありません</h3>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-md-offset-2">
    <div class="text-center">
      <%= paginate @events %>
    </div>
  </div>
</div>