<div class="row">
	<% unless current_supply_user %>
		<h2 class="title-left"><span class="underbar">犬猫詳細検索</span></h2>
	<% else %>
		<h2 class="title-left"><span class="underbar">里親募集履歴</span></h2>
	<% end %>
	<%= form_with(scope: :search, url: animals_path, method: :get, local: true) do |f| %>
	  <div class="row form-group">
	    <div class="col-xs-10 col-xs-offset-2">
	      <div class="row form-space">
	        <div class="col-md-3 col-xs-4">
	          <label class="control-label">名前</label>
	          <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "ポチ", value: @search_params[:name] %>
	        </div>
	      </div>
	      <div class="row form-space">
	        <div class="col-md-3 col-xs-4">
	          <label class="control-label">性別</label>
	          <%= f.select :sex, Animal.sexes.keys, class: "form-control", prompt:"---選択して下さい---", value: @search_params[:sex] %>
	        </div>
	        <div class="col-md-3 col-xs-4">
	          <label class="control-label">年齢</label>
	          <%= f.select :age, Animal.ages.keys, class: "form-control", prompt:"---選択して下さい---", value: @search_params[:age] %>
	        </div>
	      </div>
	      <div class="row form-space">
	        <div class="col-xs-12">
	          <label class="control-label">種類 <span class="explanation">(犬猫いずれかを選択,決定後に種類を選択)</span></label>
	          <div class="row">
	            <label class="col-md-2 col-xs-2"><input type="radio" name="genre_radio" value="1"> 犬</label>
	            <label class="col-md-2 col-xs-2"><input type="radio" name="genre_radio" value="2"> 猫</label>
	            <div class="col-md-2 col-xs-3">
	            	<%= button_tag '決定', type: 'button', id:"kettei" %>
	         		</div>
	            <div class="col-md-2 col-xs-2">
			          <%= f.submit "検索", class: "btn btn-info" %>
			        </div>
	          </div>
	        </div>
	      </div>
	      <div class="row form-space">
	        <div class="col-xs-4">
	          <div class="dog_select">
	            <%= f.collection_select :dog_bleed_id, @bleed_dog, :id, :name, class: "form-control", prompt:"-------選択して下さい-------", value: @search_params[:bleed_id] %>
	          </div>
	          <div class="cat_select">
	            <%= f.collection_select :cat_bleed_id, @bleed_cat, :id, :name, class: "form-control", prompt:"------選択して下さい------", value: @search_params[:bleed_id] %>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	<% end %>
	<div class="col-xs-12 text-center index-space">
		<div class="row">
			<% if @animals.exists? %>
				<%= render 'animals/animals', animals: @animals %>
			<% else %>
				<% if current_supply_user %>
					<h3>現在、募集していません</h3>
				<% else %>
					<h3>募集がありません</h3>
				<% end %>
			<% end %>
		</div>
	</div>
</div>