<div class="row relative">
  <div class="col-xs-4">
    <h2><span class="underbar">パートナー詳細</span></h2>
  </div>
  <div class="supply-link-position">
  	<% if current_supply_user && current_supply_user == @animal.supply_user %>
  		<%= link_to "編集", edit_animal_path, class: "btn btn-default" %>
  		<%= link_to "削除", animal_path(@animal), method: :delete, class: "btn btn-danger", data: {confirm: "削除しますか？"} %>
  	<% end %>
  </div>
</div>
<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
		<%= attachment_image_tag @animal, :image, format: 'jpeg', size: '250x250', fallback: "fospa_no_image.png", class: "animal-image" %>
	</div>
	<div class="col-xs-8">
		<table class="table table-striped table-bordered user-table">
			<tbody>
				<tr>
					<td class="category">名前</td>
					<td class="infomation">
						<%= @animal.name %>
						<!-- お気に入りリスト -->
						<% if current_demand_user %>
							<span id="favorites_buttons_<%= @animal.id %>">
								<%= render partial: 'favorites/favorite', locals: {animal: @animal} %>
							</span>
						<% end %>
						<!-- ここまで -->
					</td>
				</tr>
				<tr>
					<td class="category">種類</td>
					<td class="infomation"><%= @animal.bleed.name %></td>
				</tr>
				<tr>
					<td class="category">性別</td>
					<td class="infomation"><%= @animal.sex %></td>
				</tr>
				<tr>
					<td class="category">年齢</td>
					<td class="infomation"><%= @animal.age %></td>
				</tr>
				<tr>
					<td class="category">紹介文</td>
					<td class="infomation"><%= @animal.content %></td>
				</tr>
				<tr>
					<td class="category">募集元</td>
					<td class="infomation"><%= @animal.supply_user.name %> さん</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-xs-1 col-xs-offset-10">
	  		<%= link_to "戻る", :back %>
	  	</div>
	</div>
</div>
