<!DOCTYPE html>
<html>
  <head>
    <title>FosPa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <header id="header" class="row">
        <div class="logo col-xs-2 hover">
          <% if supply_user_signed_in? %>
            <%= link_to supply_users_path do %>
              <%= image_tag 'FosPa_logo_heart.png', :size => '245x130' %>
            <% end %>
          <% else %>
            <%= link_to root_path do %>
              <%= image_tag 'FosPa_logo_tail.png', :size => '245x130' %>
            <% end %>
          <% end %>
        </div>
        <div id="sp-menu" class="sp-menu">
          <h4>--- メニュー -----</h4>
          <ul class="menu-bar">
            <% if demand_user_signed_in? %>
              <li class="menu-list">
                <i class="fas fa-paw"></i><%= link_to " マイページ", demand_user_path(current_demand_user), class: "list" %>
              </li>
              <li class="nav-dropdown dropdown menu-list">
                <i class="fas fa-paw"></i><a class="dropdown-toggle cursor list" data-toggle="dropdown"> 種別パートナー検索
                </a>
                <ul class="dropdown-menu">
                  <% @genres.each do |genre| %>
                  <li><i class="fas fa-paw"> <%= link_to genre.name, genre_path(genre), class: "dropmenu-link" %></i></li>
                  <% end %>
                </ul>
              </li>
              <li class="menu-list">
                <i class="fas fa-paw"></i><%= link_to " イベント", events_path, class: "list" %>
              </li>
              <li class="menu-list">
                <i class="fas fa-paw"></i><%= link_to " 気になるリスト", favorites_path, class: "list" %>
              </li>
              <li class="menu-list">
                <i class="fas fa-paw"></i><%= link_to " お問い合わせ履歴", chats_path, class: "list" %>
              </li>
              <li class="menu-list">
                <i class="fas fa-paw"></i><%= link_to " ログアウト", destroy_demand_user_session_path, method: :delete, class: "list" %>
              </li>
            <% elsif supply_user_signed_in? %>
              <li class="menu-list">
                <i class="fas fa-paw"></i><%= link_to " マイページ", supply_user_path(current_supply_user), class: "list" %>
              </li>
              <li class="nav-dropdown dropdown menu-list">
                <i class="fas fa-paw"></i><a class="dropdown-toggle cursor list" data-toggle="dropdown"> 新規登録
                </a>
                <ul id="dropdown-menu"  class="dropdown-menu" role="menu">
                  <li><i class="fas fa-paw"><%= link_to ' 里親募集', new_animal_path, class: "dropmenu-link" %></i></li>
                  <li><i class="fas fa-paw"><%= link_to ' イベント告知', new_event_path, class: "dropmenu-link" %></i></li>
                </ul>
              </li>
              <li class="nav-dropdown dropdown menu-list">
                <i class="fas fa-paw"></i><a class="dropdown-toggle cursor list" data-toggle="dropdown"> 募集・告知履歴
                </a>
                <ul class="dropdown-menu">
                  <li><i class="fas fa-paw"><%= link_to ' 里親', animals_path, class: "dropmenu-link" %></i></li>
                  <li><i class="fas fa-paw"><%= link_to ' イベント', events_path, class: "dropmenu-link" %></i></li>
                </ul>
              </li>
              <li class="menu-list">
                <i class="fas fa-paw"></i><%= link_to " ログアウト", destroy_supply_user_session_path, method: :delete, class: "list" %>
              </li>
            <% else %>
              <li class="menu-list">
                <i class="fas fa-paw"></i><%= link_to " FosPaとは！？", about_path, class: "list" %>
              </li>
              <li class="nav-dropdown dropdown menu-list">
                <i class="fas fa-paw"></i><a class="dropdown-toggle cursor list" data-toggle="dropdown"> 種別パートナー検索
                </a>
                <ul class="dropdown-menu" role="menu">
                  <% @genres.each do |genre| %>
                  <li><i class="fas fa-paw"> <%= link_to genre.name, genre_path(genre), class: "dropmenu-link" %></i></li>
                  <% end %>
                </ul>
              </li>
              <li class="menu-list">
                <i class="fas fa-paw"></i><%= link_to " イベント", events_path, class: "list" %>
              </li>
              <li class="nav-dropdown dropdown menu-list">
                <i class="fas fa-paw"></i><a class="dropdown-toggle cursor list" data-toggle="dropdown"> 新規登録
                </a>
                <ul class="dropdown-menu">
                  <li><i class="fas fa-paw"><%= link_to ' 一般会員', new_demand_user_registration_path, class: "dropmenu-link" %></i></li>
                  <li><i class="fas fa-paw"><%= link_to ' 募集会員', new_supply_user_registration_path, class: "dropmenu-link" %></i></li>
                </ul>
              </li>
              <li class="nav-dropdown dropdown menu-list">
                <i class="fas fa-paw"></i><a class="dropdown-toggle cursor list" data-toggle="dropdown"> ログイン
                </a>
                <ul class="dropdown-menu">
                  <li><i class="fas fa-paw"><%= link_to ' 一般会員', new_demand_user_session_path, class: "dropmenu-link" %></i></li>
                  <li><i class="fas fa-paw"><%= link_to ' 募集会員', new_supply_user_session_path, class: "dropmenu-link" %></i></li>
                </ul>
              </li>
            <% end %>
          </ul>
          <h4>--- SNS ---------</h4>
          <ul class="menu-bar">
            <li class="menu-list">
              <%= link_to "#", class: "list" do %>
                <i class="fab fa-twitter-square sns-icon"></i>
              <% end %>
              <%= link_to "#", class: "list" do %>
                <i class="fab fa-facebook-square sns-icon"></i>
              <% end %>
              <%= link_to "#", class: "list" do %>
                <i class="fab fa-instagram sns-icon"></i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="welcome">
          <% if demand_user_signed_in? %>
            <strong class="welcome-message"><span class="underbar">こんにちは <%= current_demand_user.nickname %>さん !</span></strong>
          <% elsif supply_user_signed_in? %>
            <strong class="welcome-message"><span class="underbar">こんにちは <%= current_supply_user.name %>さん !</span></strong>
          <% else %>
            <strong class="welcome-message"><span class="underbar">ようこそ ゲストさん !</span></strong>
          <% end %>
        </div>
        <div id="hm-icon">
            <%= link_to "#", class: "menu-trigger" do %>
              <span></span>
              <span></span>
              <span></span>
            <% end %>
          </div>
      </header><!-- /header -->
      <div class="container main">
        <div>
          <% if flash[:notice] %>
          <%= flash[:notice] %>
          <% end %>
        </div>
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div>
  </body>
</html>
